# Dependencies
node_modules/

# Build output
out/
dist/
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db
cmd.md
